body{
	width: 100%;
	font-family: sans-serif;
	color: #7FFFD4;
	background-color: #696969;
	font-size: 18px;	
}

p{
	font-weight: bold;
}

.input{
	width: 95%;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #696969;
	outline: none;
	border: none;
	margin: 0px;
	font-weight: bold;
}

.format1{
	margin: 0;
}

.format2{
	margin: 0;
	color: #729FCF;
}

.hide{
	color: #696969;
}